## TPC2 tarefa 2 - Python

In [1]:
import csv
import numpy as np
import pandas as pd
pd.set_option('display.min_rows', 20)
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# For compatibility across multiple platforms
import os
IB = os.environ.get('INSTABASE_URI',None) is not None
open = ib.open if IB else open

### <font color = 'green'>World Cup with Pandas</font>
Solve the problems using the data in Pandas dataframes.

In [3]:
# Read the Players and Teams data into dataframes
f = open('Players.csv')
playersDF = pd.read_csv(f)
f = open('Teams.csv')
teamsDF = pd.read_csv(f)

In [4]:
#Qual jogador (print do ultimo nome) de uma equipa com "ia" no nome, 
#que jogou menos de 200 minutos e fez mais de 100 passes?

FilterPlayer = playersDF[playersDF.team.str.contains("ia") & (playersDF.minutes < 200) & (playersDF.passes > 100)]
FilterPlayer

        surname    team    position  minutes  shots  passes  tackles  saves
431  Kuzmanovic  Serbia  midfielder      180      4     103        1      0

In [5]:
# Qual é o número médio de passes feitos pelos avançados? Pelos meio-campistas?
# Verifique se a resposta especifica qual é qual e não inclua outras
# posições no seu resultado.


Forward = playersDF[playersDF.position == ("forward")]
Midfielder = playersDF[playersDF.position == ("midfielder")]

AvgForwardPasses = Forward.passes.mean()
AvgMidfielderPasses = Midfielder.passes.mean()
                    
print("O número médio de passes feitos pelos avançados é",AvgForwardPasses, "e pelos médios é",AvgMidfielderPasses)

O número médio de passes feitos pelos avançados é 50.82517482517483 e pelos médios é 95.2719298245614

In [6]:
# Qual equipe tem a maior relação (razão, racio, etc) de goalsFor versus goalsAgainst? Golos marcados /Golos sofridos
# Imprima apenas o nome da equipa.
# Dica: adicione uma coluna "racio" ao dataframe das equipas e, depois, faça o seu "sort" e, 
# em seguida, use a head(1) ou tail(1) ...

teamsDF["Ratio"] = teamsDF.goalsFor/teamsDF.goalsAgainst
teamsDFsorted = teamsDF.sort_values(\
                        by = "Ratio",\
                        inplace = False,
                        ascending = False)
teamsDFsorted.reset_index(drop = False, inplace = True)

teamsDFsorted.team.iloc[0]

'Portugal'

In [7]:
# Quantos jogadores que jogam numa equipa com ranking <10, 
# jogaram mais de 350 minutos?
# Lembrete: len() fornece o número de linhas que um dataframe contém

#Top 10 baseado no ranking
TopTen = teamsDF[teamsDF.ranking <10] 
#Nome das equipas do top 10 baseado no ranking
TopTenTeams = TopTen.team 
#Jogadores presentes nas equipas do top 10 do ranking
TopTenTeamPlayers = playersDF[playersDF.team.isin(TopTenTeams)] 

#Jogadores presentes nas equipas do top 10 do ranking com mais de 350 minutos jogados
TopTenTeamPlayers350min = TopTenTeamPlayers[(TopTenTeamPlayers.minutes > 350)] 
NumberTopTenTeamPlayers350min = len(TopTenTeamPlayers350min)

NumberTopTenTeamPlayers350min

54

### <font color = 'green'>Titanic with Pandas</font>
Solve the problems using the data in Pandas dataframe.

In [8]:
# Read the Titanic data into a dataframe
f = open('Titanic.csv')
titanicDF = pd.read_csv(f)
titanicDF

,last,first,gender,age,class,fare,embarked,survived
0,Braund,Mr. Owen Harris,M,22.0,3,7.2500,Southampton,no
1,Cumings,Mrs. John Bradley (Florence Briggs Thayer),F,38.0,1,71.2833,Cherbourg,yes
2,Heikkinen,Miss Laina,F,26.0,3,7.9250,Southampton,yes
3,Futrelle,Mrs. Jacques Heath (Lily May Peel),F,35.0,1,53.1000,Southampton,yes
4,Allen,Mr. William Henry,M,35.0,3,8.0500,Southampton,no
5,Moran,Mr. James,M,NaN,3,8.4583,Queenstown,no
6,McCarthy,Mr. Timothy J,M,54.0,1,51.8625,Southampton,no
7,Palsson,Master Gosta Leonard,M,2.0,3,21.0750,Southampton,no
8,Johnson,Mrs. Oscar W (Elisabeth Vilhelmina Berg),F,27.0,3,11.1333,Southampton,yes
9,Nasser,Mrs. Nicholas (Adele Achem),F,14.0,2,30.0708,Cherbourg,yes
...,...,...,...,...,...,...,...,...
881,Markun,Mr. Johann,M,33.0,3,7.8958,Southampton,no
882,Dahlberg,Miss Gerda Ulrika,F,22.0,3,10.5167,Southampton,no
883,Banfield,Mr. Frederick James,M,28.0,2,10.5000,Southampton,no
884,Sutehall,Mr. Henry Jr,M,25.0,3,7.0500,Southampton,no
885,Rice,Mrs. William (Margaret Norton),F,39.0,3,29.1250,Queenstown,no
886,Montvila,Rev. Juozas,M,27.0,2,13.0000,Southampton,no
887,Graham,Miss Margaret Edith,F,19.0,1,30.0000,Southampton,yes
888,Johnston,"Miss Catherine Helen ""Carrie""",F,NaN,3,23.4500,Southampton,no
889,Behr,Mr. Karl Howell,M,26.0,1,30.0000,Cherbourg,yes
890,Dooley,Mr. Patrick,M,32.0,3,7.7500,Queenstown,no

In [9]:
# Quantas mulheres casadas embarcaram em Cherbourg?
# Nota: 'first' é uma função no Pandas, então 'titanic.first' irá gerar um erro;
# use 'titanic[' first ']

EmbarkedCher = titanicDF[titanicDF.embarked == ("Cherbourg")]
EmbarkedCherFemales = EmbarkedCher[EmbarkedCher.gender == ("F")]
EmbarkedCherMarriedFemales = EmbarkedCherFemales[EmbarkedCherFemales["first"].str.contains("Mrs.")]
NumberEmbarkedCherMarriedFemales = len(EmbarkedCherMarriedFemales)

NumberEmbarkedCherMarriedFemales

33

In [10]:
# Liste a tarifa média paga pelos passageiros em cada uma das cidades de embarque.

city = titanicDF.embarked.unique() #para ver quais as cidades onde embarcaram passageiros

EmbarkedSouth = titanicDF[titanicDF.embarked == ("Southampton")]
EmbarkedCher = titanicDF[titanicDF.embarked == ("Cherbourg")]
EmbarkedQueens = titanicDF[titanicDF.embarked == ("Queenstown")]

print("Southampton =", EmbarkedSouth.fare.mean() , "; Cherbourg =", EmbarkedCher.fare.mean() , "; Queenstown =",  EmbarkedQueens.fare.mean())

Southampton = 27.243651393188795 ; Cherbourg = 59.95414404761905 ; Queenstown = 13.276029870129872

In [11]:
# Os valores inexistentes (missing)  no Pandas são nulos (null), impressos como 'NaN' e
# a function pd.isnull(v) verifica se um valor é nulo.
# Que fração dos passageiros não tem valor para a idade?

IsNullField = titanicDF.isnull().sum(axis = 0)
NumbOfPasseng = len(titanicDF)
NumbOfPassengNoAge = IsNullField.age


Percentage = int(NumbOfPassengNoAge/NumbOfPasseng*100)

print(Percentage,"% dos passageiros não têm valor para a idade")

19 % dos passageiros não têm valor para a idade